<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="cn.com.how.mapper.ScoreDetailMapper">
 <!-- 查询积分明细 -->
 <select id="queryScoreDetail" parameterType="page" resultType="scoreDetail">
    select scoreCount,expendTime,scoreSource from g3_csdn_scoredetail_mzj 
   where userid=#{userid} limit #{start},#{eachPageCount}
 </select>
 <!-- 查询总记录  -->
 <select id="getCount" parameterType="Integer" resultType="int">
   select count(1) from g3_csdn_scoredetail_mzj where userid=#{userid}
 </select>
 
 <!-- 查询个人积分总和 -->
 <select id="getSum" parameterType="Integer" resultType="Integer">
   select sum(scoreCount) from g3_csdn_scoredetail_mzj where userid=#{userid}
 </select>
  
  <!-- 下载资源的时候，积分变更 -->
  <insert id="reduceScore">
    insert into g3_csdn_scoredetail_mzj (userid,scoreCount,expendTime,scoreSource)
    values(#{param1},#{param2},now(),${4})
  </insert>
  <!--  下载资源的时候  增加被下载用户的积分  -->
  <insert id="addOtherUserScore">
    insert into g3_csdn_scoredetail_mzj (userid,scoreCount,expendTime,scoreSource)
    values(#{param1},#{param2},now(),${4}) 
  </insert>
  <!-- 评论资源的时候 积分变更 -->
  <insert id="addScoreFileComment" parameterType="integer">
    insert into g3_csdn_scoredetail_mzj (userid,scoreCount,expendTime,scoreSource)
    values(#{userid},${1},now(),${3})
  </insert>
  
  <!-- 查询积分消费类型占比 -->
   <select id="getTypeCount" resultType="int">
    select count(1) from g3_csdn_scoredetail_mzj where userid=#{param1} and scoreSource =#{param2}
   </select>
   
   <!-- 查询收藏的数量   -->
   <select id="getShouCangCount" parameterType="integer" resultType="int">
     select count(1) from g3_csdn_collect_mzj where userid=#{userid}
   </select>
   <!-- 查询发帖的数量 -->
   <select id="getFatieCount" parameterType="integer" resultType="int">
     select count(1) from g3_csdn_topic_mzj where fromId = #{userid}
   </select>
 </mapper>